@page
@model FTCScoutingApp.Pages.Teams.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete a team</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Team @Html.DisplayFor(model => model.Team.TeamID) | @Html.DisplayFor(model => model.Team.TeamName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamID)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.TeamCountry)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Team.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
