@page
@model FTCScoutingApp.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Teams";
}
<meta http-equiv="refresh" content="10">
<h1>Teams</h1>

<p>
    <a asp-page="Create">Add a team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th class="hidden-mobile">
                Exp PTS
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].StartLocation)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].Autonomy)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].Latched)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].Sampling)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].TeamMarker)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].Parking)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].DepotMinerals)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].GoldMinerals)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].SilverMinerals)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Team[0].EndLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Team)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.ExPts)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.StartLocation)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.Autonomy)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.Latched)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.Sampling)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.TeamMarker)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.Parking)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.DepotMinerals)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.GoldMinerals)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.SilverMinerals)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => item.EndLocation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>