@page
@model FTCScoutingApp.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Teams";
}
<meta http-equiv="refresh" content="10">
<h1>Teams</h1>

<p>
    <a asp-page="Create">Add a team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Loses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Ties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].PrefersStartingCrater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].HasAutonomy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Team)
        {
            if (item.AllowedUserIDs.Split(';').ToList().Contains(User.Identity.Name) || User.Identity.Name == "admin@ftcscoutingapp.com")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Loses)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ties)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrefersStartingCrater)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasAutonomy)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
